{% macro buttons(contato) %}
<form action="/deletar_contato" method="post" style="display:inline;">
    <button class="waves-effect waves-light btn-small red" type="submit">
        <i class="material-icons right">delete</i>Deletar
    </button>
    <input type="hidden" name="email" value="{{contato.email}}">
</form>

<a href="#edit-modal-{{ contato.email }}" class="waves-effect waves-light btn-small blue modal-trigger">
    <i class="material-icons right">edit</i>Editar
</a>

<div id="edit-modal-{{ contato.email }}" class="modal">
    <div class="modal-content">
        <h4>Editar Contato</h4>
        <form action="/editar_contato" method="post">
            <input type="hidden" name="email" value="{{ contato.email }}">
            <div class="input-field">
                <input type="text" id="nome-{{ contato.nome }}" name="nome" value="{{ contato.nome }}" required>
                <label for="nome-{{ contato.nome }}">Nome</label>
            </div>

            <div class="input-field">
                <input type="text" id="email-{{ contato.email }}" name="email" value="{{ contato.email }}" disabled>
                <label for="email-{{ contato.email }}">email</label>
            </div>

            <div class="input-field">
                <input type="text" id="telefone{{ contato.telefone }}" name="telefone" value="{{ contato.telefone }}" required>
                <label for="telefone-{{ contato.telefone }}">telefone</label>
            </div>

            <div class="input-field">
                <input type="text" id="tags-{{ contato.tags }}" name="tags" value="{{ contato.tags }}" required>
                <label for="tags-{{ contato.tags }}">tags</label>
            </div>

            <button type="submit" class="waves-effect waves-light btn">Salvar</button>
        </form>
    </div>

</div>




{% endmacro %}
